* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  background: rgb(14, 4, 44);
  min-height: 100vh;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.wave {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.25));
}
.wave span {
  position: relative;
  display: inline-block;
  font-size: 6rem;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
